<div class="global-menu">

    <nav id="desktop-nav" class="global-nav">
        {% for item in site.data.navigation.global %}
            {% assign root = {{item.name | downcase}} %}
            <li><a href="{{ item.url }}" {% if page.parent == root %} class="current" {% endif %}> {{ item.name }} </a></li>
        {% endfor %}
    </nav>

     <details id="options">
        <summary id="options-close">Options</summary>
        <menu>
            <li>
                <button id="style-switch" class="switch" onClick="toggleStyle()"></button>
            </li>
            <li>
                <button id="animate-switch" class="switch" onClick="toggleAnimate()"></button>
            </li>
            <li>
                <div class="switch">
                    <label for="font-select">site font</label>
                    <select name="fonts" id="font-select" onChange="toggleFont(this)">
                        <option name="Nunito" value="Nunito">Nunito</option>
                        <option name="Hyperlegible" value="Hyperlegible">Hyperlegible</option>
                        <option name="OpenDyslexic" value="OpenDyslexic">OpenDyslexic</option>
                    </select>
                </div>
            </li>
            <li class="skip"><a href="#options-close">[close]</a></li>
        </menu>
        <div class="box-bg"></div>
     </details>

    <details id="mobile-nav">
        <summary id="nav-close">Navigation</summary>
        <nav class="global-nav">
            {% for item in site.data.navigation.global %}
                {% assign root = {{item.name | downcase}} %}
                <li><a href="{{ item.url }}" {% if page.parent == root %} class="current" {% endif %}> {{ item.name }} </a></li>
            {% endfor %}
            <li class="skip"><a href="#nav-close">[close]</a></li>
        </nav>
        <div class="box-bg"></div>
    </details>

</div>