<section class="webrings">
	<h2>Webrings</h2>
	<p>I do not feature explicit content. The same cannot be said for others in the webrings below.</p>
	<nav style="font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; text-align: center">
		<a style="color: #ff00ff; text-decoration: none" href="https://genlissa.baccyflap.com/?prv&s=ced" target="_top">«</a>
		<a style="color: #ff00ff; text-decoration: none" href="https://genlissa.baccyflap.com" target="_blank">I'm Gen Lissa</a>
		<a style="color: #ff00ff; text-decoration: none" href="https://genlissa.baccyflap.com/?nxt&s=ced" target="_top">»</a>
	</nav>
</section>
