<section class="webrings">
	<h2>Webrings</h2>
	<p>I do not feature explicit content. The same cannot be said for others in the webrings below.</p>
	<div class="img-group">
		<nav class="lissa webring">
			<ul>
				<li><a href="https://genlissa.baccyflap.com/?prv&s=ced" target="_top">«</a></li>
				<li><a href="https://genlissa.baccyflap.com" target="_blank">I'm Gen Lissa</a></li>
				<li><a href="https://genlissa.baccyflap.com/?nxt&s=ced" target="_top">»</a></li>
			</ul>
		</nav>
		<a href="https://kalechips.net/responsive/index"><img src="/assets/images/hood/responsiveweb.png" alt="responsiveweb" /></a>
		<a href="https://kalechips.net/responsive/index"><img src="/assets/images/hood/focusfirst.png" alt="focusfirst" /></a>
	</div>
</section>
