<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{ page.title }}</title>
		<link rel="stylesheet" media="(scripting: none) and (prefers-color-scheme: dark)" href="/assets/css/dark.css" />
		<link rel="stylesheet" media="(scripting: none) and (prefers-color-scheme: light)" href="/assets/css/light.css" />
		<link rel="stylesheet" href="" id="theme" />
		<script src="/assets/scripts/applyInitStyle.js"></script>
		<link rel="stylesheet" href="/assets/css/reset.css" />
		<link rel="stylesheet" href="/assets/css/global.css" />
	</head>
	<body>
		<a id="skip" href="#content">[skip to content]</a>
		{% include global_nav.html %}
		<main id="content" class="content"> {{ content }} {% if page.to_top == true %} <a class="bottom-link" href="#top">Back to top</a> {% endif %}</main>
		<img src="" class="bg-image" alt="background_image" />

		<script src="/assets/scripts/applyInitFont.js"></script>
		<script src="/assets/scripts/applyInitAnimate.js"></script>
		<script src="/assets/scripts/applyInitText.js"></script>
		<script src="/assets/scripts/toggleStyle.js"></script>
		<script src="/assets/scripts/toggleAnimate.js"></script>
		<script src="/assets/scripts/toggleFont.js"></script>
	</body>
</html>
