<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{{ page.title }}</title>
		<style>
			@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sono:wght@200..800&display=swap");
		</style>
		<link rel="stylesheet" href="/assets/css/reset.css" />
		<link rel="stylesheet" href="/assets/css/global.css" />
		<link rel="stylesheet" href="" id="theme" />
		<script src="/assets/scripts/changeStyle.js"></script>
	</head>
	<body>
		{% include navigation.html %}
		<main>
			<div class="content">{{ content }}</div>
			<div class="box-bg"></div>
		</main>
		<img src="" class="bg-image" alt="background_image" />
	</body>
</html>
