---
title: Cedrus's Site - Adopted Pixels
parent: pixels
child: adopted
to_top: true
permalink: /pixels/adopted
---

{% include page_nav.html %}

<h2>Adopted</h2>
<p>A collection of pixels from other creators.</p>

<ul class="img-group">
	{% for set in site.data.adopted.sets %}
	<li>
		<a rel="external" href="{{ set.url }}">
			{% for item in set.items %} {% assign img = item[0] | split: '.' %} <img loading="lazy" src="{{ site.data.adopted.root | append: item[0] }}" {% if img[1] == 'gif' %} class="freeze" {%
			endif %} alt="{{item[1]}}" /> {% endfor %}
		</a>
	</li>
	{% endfor %}
</ul>
