---
title: Cedrus's Site - Pixels - Adoptables
parent: pixels
child: adoptables
permalink: /pixels/adoptables
---

{% include pixel_nav.html %}

<h2>Adoptables</h2>
<p>These are free for you to add to your own site. Please link back to me if you do!</p>

{% for set in site.data.adoptables.sets %}
<h3>{{set.name}}</h3>
<div class="img-group small">
	{% for item in set.items %} {% assign url = site.data.adoptables.root | append: set.base | append: item | append: set.ext %}
	<img src="{{url}}" alt="{{url}}" />
	{% endfor %}
</div>
{% endfor %}
