---
title: Cedrus's Site - Adoptable Pixels
parent: pixels
child: adoptables
permalink: /pixels/adoptables
---

{% include page_nav.html %}

<h2>Adoptables</h2>
<p>These are free for you to add to your own site. Please link back to me if you do!</p>

{% for set in site.data.adoptables.sets %}
<h3>{{set.name}}</h3>
<ul class="img-group">
	{% for item in set.items %}
	<li> <img src="{{site.data.adoptables.root | append: set.base | append: item | append: set.ext }}" {% if set.ext == '.gif' %} class="freeze" {% endif %} alt="{{item}}" /> </li>
	{% endfor %}
</ul>
{% endfor %}
