---
title: Cedrus's Site - Adoptable Pixels
parent: pixels
child: adoptables
to_top: true
permalink: /pixels/adoptables
---

{% include page_nav.html %}

<h2>Adoptables</h2>
<p>These are free for you to add to your own site. Please link back to me if you do!</p>

{% for set in site.data.adoptables.sets %}
<h3 tabindex="0">{{set.name}}</h3>
<ul class="img-group">
	{% for item in set.items %}
	<li>
		<img loading="lazy" src="{{site.data.adoptables.root | append: set.base | append: item[0] | append: set.ext }}" {% if set.ext == '.gif' %} class="freeze" {% endif %} alt="{{item[1]}}" />
	</li>
	{% endfor %}
</ul>
{% endfor %}
