---
title: Cedrus's Site - Adopted Pixels
parent: pixels
child: adopted
permalink: /pixels/adopted
---

{% include page_nav.html %}

<h2>Adopted</h2>
<p>A collection of pixels from other creators.</p>

<div class="img-group small">
	{% for set in site.data.adopted.sets %}
	<a rel="external" href="{{ set.url }}">
		{% for item in set.items %} {% assign name = image | split: '.' %}
		<img src="{{ site.data.adopted.root | append: item }}" alt="{{name[0]}}" />
		{% endfor %}
	</a>
	{% endfor %}
</div>
