---
title: Cedrus's Site - Adopted Pixels
parent: pixels
child: adopted
to_top: true
permalink: /pixels/adopted
---

{% include page_nav.html %}

<h2>Adopted</h2>
<p>A collection of pixels from other creators.</p>

<ul class="img-group">
	{% for set in site.data.adopted.sets %}
	<li>
		<a rel="external" href="{{ set.url }}">
			{% for item in set.items %} {% if item.ext == '.gif' %} {% include gif.html root=site.data.adopted.root img=item.img alt=img.alt %} {%
			else %}
			<img loading="lazy" src="{{ site.data.adopted.root | append: item.img | append: '.png' }}" alt="{{item.alt}}" />
			{% endif %} {% endfor %}
		</a>
	</li>
	{% endfor %}
</ul>
