---
title: Cedrus's Site - Tama Collection
parent: tamas
child: collection
to_top: false
permalink: /tamas/collection
---

{% include page_nav.html %}

<div><h2>Collection</h2><a id="collection-skip" href="#start">[skip to collection]</a></div>
<nav class="collection-nav">
	{% for era in site.data.collection.eras %}
	<ul>
		<h3>{{era.name}}</h3>
		<div>
			{% for series in era.series %} {% if series.name != 'divider' %}
				<li><a href="#{{ series.name | split: ' ' | join }}">{{series.name}}</a></li>
			{% endif %} {% endfor %}
		</div>
	</ul>
	{% endfor %}
</nav>
{% for era in site.data.collection.eras %}
<section {% if era.name =='Original Era' %} id="start" {% endif %} class="era-group">
	<h3>{{era.name}}</h3>
	{% for series in era.series %} {% if series.name == "divider" %}
	<div class="divider dark"></div>
	{% else %}
	<h4 tabindex="0" id="{{ series.name | split: ' ' | join }}">{{series.name}}</h4>
	{% if series.generations %} {% for gen in series.generations %} {% if gen.name == "divider" %}
	<div class="divider light"></div>
	{% else %}
	<h5 tabindex="0">{{gen.name}}</h5>
	<ul class="shell-group">
		{% for shell in gen.shells %}
		<li>
			<figure>
				<img src="{{ site.data.collection.root | append: shell[1] | append: site.data.collection.ext }}" alt="{{ shell[0] | append: site.data.collection.ext }}" class="tama_imgs" />
				<figcaption>{{shell[0]}}</figcaption>
			</figure>
		</li>
		{% endfor %}
	</ul>
	{% endif %} {% endfor %}
	<a href="#top">Back to top</a>
	{% else %}
	<ul class="shell-group">
		{% for shell in series.shells %}
		<li>
			<figure>
				<img src="{{ site.data.collection.root | append: shell[1] | append: site.data.collection.ext }}" alt="{{ shell[0] | append: site.data.collection.ext }}" class="tama_imgs" />
				<figcaption>{{shell[0]}}</figcaption>
			</figure>
		</li>
		{% endfor %}
	</ul>
	<a href="#top">Back to top</a>
	{% endif %} {% endif %} {% endfor %}
</section>
{% endfor %}
