---
title: Cedrus's Site - Tama Collection
parent: tamas
child: collection
to_top: false
permalink: /tamas/collection
---

{% include page_nav.html %}

<h2>Collection</h2>
{% for era in site.data.collection.eras %}
<section class="era-group">
	<h3>{{era.name}}</h3>
	{% for series in era.series %} {% if series.name == "divider" %}
	<div class="divider dark"></div>
	{% else %}
	<h4>{{series.name}}</h4>
	{% if series.generations %} {% for gen in series.generations %} {% if gen.name == "divider" %}
	<div class="divider light"></div>
	{% else %}
	<h5>{{gen.name}}</h5>
	<ul class="shell-group">
		{% for shell in gen.shells %}
		<li>
			<figure>
				<img src="{{ site.data.collection.root | append: shell[1] | append: site.data.collection.ext }}" alt="{{ shell[0] | append: site.data.collection.ext }}" class="tama_imgs" />
				<figcaption>{{shell[0]}}</figcaption>
			</figure>
		</li>
		{% endfor %}
	</ul>
	{% endif %} {% endfor %} {% else %}
	<ul class="shell-group">
		{% for shell in series.shells %}
		<li>
			<figure>
				<img src="{{ site.data.collection.root | append: shell[1] | append: site.data.collection.ext }}" alt="{{ shell[0] | append: site.data.collection.ext }}" class="tama_imgs" />
				<figcaption>{{shell[0]}}</figcaption>
			</figure>
		</li>
		{% endfor %}
	</ul>
	{% endif %} {% endif %} {% endfor %}
	<a href="#top">Back to top</a>
</section>
{% endfor %}
