---
title: Cedrus's Site - Games
parent: games
to_top: true
---

<h1 class="static-page">Games</h1>

<p>I play some games with mods on PC, but mostly play handheld. I own a Gameboy Advance, New 3DS XL, Switch, and Vita.</p>

<div class="era-group">
	<h2>Playing</h2>
	<ul class="shell-group">
		{% for game in site.data.games.playing %}
		<li>
			<figure>
				<img loading="lazy" src="{{ site.data.games.root | append: game.img | append: site.data.games.ext }}" alt="{{ game.img | append: site.data.games.ect }}" />
				<figcaption>{{game.name}}</figcaption>
				<div>Console: {{game.console}}</div>
			</figure>
		</li>
		{% endfor %}
	</ul>
</div>

<div class="era-group">
	<h2>Complete</h2>
	<ul class="shell-group">
		{% for game in site.data.games.complete %}
		<li>
			<figure>
				<img loading="lazy" src="{{ site.data.games.root | append: game.img | append: site.data.games.ext }}" alt="{{ game.img | append: site.data.games.ect }}" />
				<figcaption>{{game.name}}</figcaption>
				<div>Console: {{game.console}}</div>
			</figure>
		</li>
		{% endfor %}
	</ul>
</div>
