---
title: Cedrus's Site - Links
parent: links
to_top: true
---

<h1 id="top" class="static-page">Links</h1>
<p>
	Link back to me! Please don't hotlink. Host the image yourself. =)
	<br />
	<img class="personal-button" src="/assets/images/links/cedrus.png" alt="Rectangular cow print button. 'Cedrus' label in green letters." />
</p>

<section class="link-group">
	<h2>Mutuals</h2>
	<span>These sites also link back to me.</span>
	<span>None yet. =(</span>
</section>

<section class="link-group">
	<h2>Other Sites</h2>
	<span>
		These are sites I find helpful, interesting, cute, or otherwise enjoyable. While I don't personally feature strong language and adult themes, I am an adult and so are the owners of these
		spaces.
	</span>
	<h3>Personals</h3>
	<ul class="img-group">
		{% for link in site.data.links.personal.items %}
		<li>
			<a rel="external" href="{{link.url}}">
				<img loading="lazy" src="{{site.data.links.personal.root | append: link.img | append: link.ext}}" {% if link.ext == '.gif' %} class="freeze" {% endif %} alt="{{link.alt}}" /></a
			>
		</li>
		{% endfor %}
	</ul>
	<h3>Non-Personals</h3>
	<ul class="img-group">
		{% assign root = site.data.links.non-personal.root %} {% for link in site.data.links.non-personal.items %}
		<li>
			<a rel="external" href="{{link.url}}">
				<img loading="lazy" src="{{site.data.links.personal.root | append: link.img | append: link.ext}}" {% if link.ext == '.gif' %} class="freeze" {% endif %} alt="{{link.alt}}" /></a
			>
		</li>
		{% endfor %}
	</ul>
</section>

<section class="link-group">
	<h2>Webrings & Listings</h2>
	<p>I do not feature explicit content. The same cannot be said for others in the webrings/listings below.</p>
	<ul class="img-group">
		<li>
			<nav class="lissa webring">
				<ul>
					<li><a href="https://genlissa.baccyflap.com/?prv&s=ced" target="_top">«</a></li>
					<li><a href="https://genlissa.baccyflap.com" target="_blank">I'm Gen Lissa</a></li>
					<li><a href="https://genlissa.baccyflap.com/?nxt&s=ced" target="_top">»</a></li>
				</ul>
			</nav>
		</li>
		<li>
			<a rel="external" href="https://pinkvampyr.leprd.space/accessiblenet/index.php"
				><img loading="lazy" src="/assets/images/links/webrings/accessible.png" alt="Accessible Webring Homepage"
			/></a>
		</li>
		<li>
			<a href="https://kalechips.net/responsive/index"><img loading="lazy" src="/assets/images/links/webrings/responsiveweb.png" alt="Responsive Webring Homepage" /></a>
		</li>
		<li>
			<a href="https://www.beepbird.net/webring/index.html"><img loading="lazy" src="/assets/images/links/webrings/focusfirst.png" alt="Focus First Webring Homepage" /></a>
		</li>
	</ul>
</section>
