---
title: Cedrus's Site - Tama Runs
parent: tamas
child: runs
to_top: false
permalink: /tamas/runs
---

{% include page_nav.html %}

<h2>Runs</h2>
<p> Goal: Complete growth charts for all non-gene mixing releases. </p>
<ul class="runs">
	{% for group in site.data.runs.groups %}
	<li>
		<h3 tabindex="0">{{group.name}}</h3>
		{% if group.runs %}
		<ul>
			{% for run in group.runs %}
			<li class="shell-group">
				<h4>{{run.name}}</h4>
				<h5>{{run.status}}</h5>
				<figure>
					<img loading="lazy" src="{{site.data.runs.root | append: run.img | append: site.data.runs.ext}}" alt="{{run.img | append: site.data.runs.ext}}" />
					<figcaption>{{run.shell}}</figcaption>
				</figure>
				{% if run.chart != 'na' %}
				<button id="{{chart.run}}" onClick="openDialog(this)">growth chart ↗</button>
				<dialog id="{{run.chart}}-dialog">
					<figure class="dialog">
						<img loading="lazy" src={{site.data.runs.chart_root | append: run.chart | append: site.data.runs.chart_ext}} />
						<figcaption>{{run.name}} {{run.shell}} Growth Chart</figcaption>
					</figure>
					<button onClick="closeDialog(this)">[close growth chart]</button>
				</dialog>
				{% else %} (no growth chart) {% endif %}
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<span>Nothing yet. =(</span>
		<br />
		{% endif %}
		<a class="bottom-link" href="#top">Back to top</a>
	</li>
	{% endfor %}
</ul>

<script src="/assets/scripts/openDialog.js"></script>
