/* GLOBAL */

:root {
	--light-blue: #e5f4ff;
	--med-blue: #91bad8;
	--dark-blue: #1d5480;
	--green: #a2ecc1;
	--yellow: #ffd91a;
	--lissa: #ffccff;
}

body {
	background-color: var(--dark-blue);
	color: var(--light-blue);
}

.bg-image {
	content: url("/assets/images/layouts/v1/dark.gif");
}

.global-nav,
main,
.webrings,
.buttons,
.webrings,
article,
.era-group,
.dark {
	border-color: var(--light-blue);
}

.light {
	border-color: var(--med-blue);
}

.bg-color {
	background-color: white;
	mix-blend-mode: soft-light;
}

a {
	color: var(--green);
}

*:focus {
	outline-color: var(--light-blue);
}

a:hover:not(:has(.webrings)),
.current {
	color: var(--yellow);
}

#switch {
	background-color: transparent;
	color: var(--light-blue);
	border-color: var(--light-blue);
}

.lissa a,
.lissa a:hover {
	color: var(--lissa) !important;
	text-decoration: none;
	font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", sans-serif;
	text-align: center;
}
