/* BASE */
/* BASE */
/* BASE */

:root {
	--bg-width: calc(523px / 2);
	--bg-height: calc(1078px / 2);
	--img-size: 225px;
	--tb-margin: 10dvh;
	--lr-small-margin: 7dvw;
	--lr-big-margin: calc(var(--bg-width) + calc(var(--lr-small-margin) * 2));
	--line-height: 1.5em;
	--border-size: 1px;
	--layout-gap: calc(var(--line-height) / 2);
	--header-font-size: 2em;
	--button-width: 88px;
	--button-height: 31px;
}

body {
	display: grid;
	gap: var(--layout-gap);
	font-family: Hyperlegible, Arial, Helvetica, sans-serif;
}

.global-menu,
.content,
.link-group,
article,
.era-group,
.runs > li {
	padding: var(--layout-gap);
}

/* LARGE SCREENS */
/* LARGE SCREENS */
/* LARGE SCREENS */

@media only screen and (min-width: 1000px) {
	body {
		padding: var(--tb-margin) var(--lr-big-margin) var(--tb-margin) var(--lr-small-margin);
		grid-template-columns: 17ch 1fr; /* column width */
		grid-template-rows: 1fr; /* row height */
		grid-template-areas: "menu content";
	}

	#mobile-nav {
		display: none;
	}

	.global-menu {
		display: flex;
		flex: 0 0 auto;
		gap: var(--layout-gap);
		flex-flow: column;
	}

	#options {
		position: absolute;
		bottom: calc(var(--tb-margin) + var(--border-size) + var(--layout-gap));
		left: calc(var(var(--lr-small-margin)) + var(--border-size));
		margin-top: auto;
	}

	#options[open] {
		z-index: 1000;
		height: calc((var(--line-height) * 7) + calc(var(--layout-gap) * 5) + calc(0.25em * 2) + calc(var(--border-size) * 8));
	}

	.box-bg {
		position: absolute;
		bottom: 0px;
		left: 0px;
		z-index: -1;
		height: calc(100dvh - calc(var(--tb-margin) * 2) - calc(var(--border-size)) - calc(var(--layout-gap) * 2));
		width: calc(17ch - calc(var(--layout-gap) * 2));
	}

	menu {
		position: absolute;
		top: 0;
		padding: 0px;
	}

	menu:has(a:not(:focus)) {
		padding-top: calc(var(--line-height) + var(--layout-gap));
	}

	.switch {
		width: calc(17ch - calc(var(--layout-gap) * 2) - calc(0.25em * 2) + calc(var(--border-size) * 4));
	}

	#options summary {
		position: absolute;
		bottom: 2px;
		left: 0px;
		width: calc(17ch - calc(var(--layout-gap) * 2) - calc(0.25em * 2) + calc(var(--border-size) * 6));
	}

	#options[open] summary::before {
		content: "▲ ";
		font-family: "Courier New", Courier, monospace !important;
	}

	.content {
		height: calc(100dvh - calc(var(--tb-margin) * 2) - calc(var(--border-size) * 2));
	}

	article figure img {
		width: 100%;
		max-width: calc(var(--img-size) * 2.5);
	}

	.shell-group > figure img {
		height: var(--img-size);
		width: auto;
	}

	.shell-group > li img {
		height: var(--img-size);
		width: auto;
	}

	.bg-image {
		width: var(--bg-width);
		height: var(--bg-height);
		position: absolute;
		bottom: 0px;
		right: 0px;
		z-index: -2;
		margin: 0dvh var(--lr-small-margin) var(--tb-margin) 0dvw;
	}

	#global-skip {
		left: calc(var(--border-size) + 2px);
	}
}

/* SMALL SCREENS */
/* SMALL SCREENS */
/* SMALL SCREENS */

@media only screen and (max-width: 999px) {
	body {
		padding: var(--layout-gap);
		grid-template-columns: 1fr; /* column width */
		grid-template-rows: calc(2em + calc(var(--layout-gap) * 2) + calc(var(--border-size) * 4)) 1fr; /* row height */
		grid-template-areas: "menu" "content";
		font-size: 2em;
	}

	.global-menu {
		display: grid;
		grid-template-columns: auto 1fr; /* column width */
		grid-template-rows: auto 1fr; /* row height */
		grid-template-areas: "options nav" ". nav";
		width: calc(100dvw - calc(var(--layout-gap) * 2));
	}

	#desktop-nav {
		display: none;
	}

	#mobile-nav {
		grid-area: nav;
		margin-left: auto;
	}

	#mobile-nav[open],
	#options[open] {
		z-index: 1000;
	}

	.global-nav {
		gap: 0px;
		padding: 0px calc(var(--border-size) * 3);
		max-height: calc(100dvh - calc(var(--layout-gap) * 4) - 2em - calc(var(--border-size) * 4));
		overflow: auto;
	}

	.box-bg {
		position: absolute;
		z-index: -1;
		top: var(--layout-gap);
		left: var(--layout-gap);
		height: calc(100dvh - calc(var(--layout-gap) * 2));
		width: calc(100dvw - calc(var(--layout-gap) * 2));
		border: var(--border-size) dashed;
	}

	details[open] summary::before {
		content: "▼ ";
		font-family: "Courier New", Courier, monospace !important;
	}

	#options {
		grid-area: options;
	}

	#options summary {
		width: calc(17ch - calc(var(--layout-gap) * 2) - calc(0.25em * 2) + calc(var(--border-size) * 2) + calc(var(--border-size) * 3));
	}

	.switch {
		width: calc(17ch - calc(var(--layout-gap) * 2) - calc(0.25em * 2) + calc(var(--border-size) * 2));
	}

	menu {
		padding: 0px calc(var(--border-size) * 3);
		max-height: calc(100dvh - calc(var(--layout-gap) * 4) - 2em - calc(var(--border-size) * 4));
		overflow: auto;
	}

	.content {
		height: calc(100dvh - calc(var(--layout-gap) * 5) - calc(2em + calc(var(--border-size) * 6)));
	}

	.header {
		font-size: calc(var(--header-font-size) * 2);
	}

	article figure img {
		width: 100%;
	}

	.personal-button,
	.link-group img {
		width: calc(var(--button-width) * 2);
		height: calc(var(--button-height) * 2);
	}

	.shell-group > li img {
		height: calc(var(--img-size) * 1.5);
		width: auto;
	}

	.bg-image {
		display: none;
	}

	#global-skip {
		justify-self: center;
	}
}

/* BOTH SCREENS - GLOBAL */
/* BOTH SCREENS - GLOBAL */
/* BOTH SCREENS - GLOBAL */

a:hover {
	text-decoration-style: double;
}

*:focus {
	outline-width: 2px;
	outline-style: solid;
	border-radius: 0.15em;
}

/* menu & nav components */

.global-menu {
	grid-area: menu;
}

nav,
menu {
	display: flex;
	flex: 0 0 auto;
}

nav {
	gap: var(--layout-gap);
}

menu {
	flex-flow: column;
	align-items: start;
}

.global-nav {
	flex-flow: column;
	align-items: end;
}

nav li,
menu li {
	list-style: none;
}

.current::before {
	content: "✦ ";
}

details ::-webkit-details-marker,
details ::marker {
	display: none;
	content: "";
}

details summary::before {
	content: "▶ ";
	font-family: "Courier New", Courier, monospace !important;
}

.switch {
	display: flex;
	flex-flow: column;
}

.switch,
summary {
	/* summary (small-screen only) included here for mirrored styling */
	padding: 0.25em;
	border: var(--border-size) solid;
	border-radius: 0.15em;
}

.switch:hover,
summary:hover {
	/* summary (small-screen only) included here for mirrored styling */
	text-decoration: underline solid 2px;
}

select {
	height: var(--line-height);
}

.global-nav li:not(.skip),
.global-nav li.skip:has(a:focus),
menu li:not(.skip),
menu li.skip:has(a:focus) {
	padding-top: var(--layout-gap);
}

#global-skip {
	position: absolute;
	display: inline-block;
	top: -1000px;
	z-index: 1000;
}

#global-skip:focus {
	top: calc(var(--border-size) + 2px);
}

.skip a {
	position: absolute;
	width: 0px;
	height: 0px;
	overflow: hidden;
}

.skip a:focus {
	position: static;
	width: auto;
	height: auto;
}

.bottom-link {
	display: block;
}

@media (scripting: none) {
	#options {
		display: none;
	}
}

/* main content components */

main {
	grid-area: content;
}

.content {
	overflow: auto;
}

a[rel="external"]:not(:has(img))::after {
	content: " ↗";
}

.img-group,
.shell-group {
	display: flex;
	flex-wrap: wrap;
	gap: var(--layout-gap);
}

.img-group {
	align-items: center;
}

.shell-group {
	align-items: start;
}

figure {
	display: inline-block;
	height: min-content;
}

figcaption {
	font-style: italic;
}

.global-menu,
main {
	border: var(--border-size) dashed;
}

.link-group,
article,
.era-group,
.runs > li {
	border-radius: 0.5em;
}

.link-group {
	border: var(--border-size) solid;
}

article,
.era-group {
	border: var(--border-size) solid;
}

/* PAGE SPECIFIC */
/* PAGE SPECIFIC */
/* PAGE SPECIFIC */

/* index */

.header {
	font-size: var(--header-font-size);
	font-weight: bold;
}

/* buttons on index & links */

.link-group {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

ul.img-group {
	padding: 0px;
}

.img-group li {
	list-style: none;
}

.img-group a {
	display: flex;
	gap: var(--layout-gap);
}

.img-group a img {
	align-self: center;
}

.webring ul {
	padding: 0;
	margin: 0;
	display: flex;
	gap: 0.25em;
}

.static-page ~ * {
	margin-top: 1em;
}

/* blog */

article {
	margin-bottom: 2rem;
}

article p,
article figure {
	padding-top: 1em;
}

/* tama collection */

nav ul {
	padding: 0px;
}

div:has(#collection-skip) {
	display: flex;
	gap: var(--layout-gap);
}

#collection-skip {
	display: inline-block;
	width: 0px;
	height: 0px;
	overflow: hidden;
	align-self: center;
}

#collection-skip:focus {
	width: auto;
	height: auto;
}

.collection-nav {
	display: flex;
	flex-flow: column;
	gap: var(--layout-gap);
}

.collection-nav ul div {
	display: flex;
	gap: var(--layout-gap);
	flex-wrap: wrap;
}

.era-group > h3,
.era-group > h4,
.era-group > h5 {
	margin-bottom: 1em;
}

.era-group ul {
	padding: 0px;
}

.era-group li {
	list-style: none;
}

.divider {
	border-width: 1px;
	border-style: dotted;
	margin: 1em 0;
}

/* tama runs */

.runs {
	display: flex;
	flex-flow: column;
	gap: var(--layout-gap);
}

.runs ul {
	display: flex;
	gap: var(--layout-gap);
	flex-wrap: wrap;
}

.runs .shell-group {
	flex-flow: column;
	gap: 0px;
}

.runs,
.runs ul {
	padding: 0px;
}

.runs li {
	list-style: none;
}

.runs > li {
	border: var(--border-size) solid;
}

/* FONTS */
/* nunito-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Nunito";
	font-style: normal;
	font-weight: 400;
	src: url("/assets/fonts/nunito-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-italic - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Nunito";
	font-style: italic;
	font-weight: 400;
	src: url("/assets/fonts/nunito-v31-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Nunito";
	font-style: normal;
	font-weight: 700;
	src: url("/assets/fonts/nunito-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-700italic - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Nunito";
	font-style: italic;
	font-weight: 700;
	src: url("/assets/fonts/nunito-v31-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Atkinson-regular */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Hyperlegible";
	font-style: normal;
	font-weight: 400;
	src: url("/assets/fonts/AtkinsonHyperlegibleNext-Regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Atkinson-italic */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Hyperlegible";
	font-style: italic;
	font-weight: 400;
	src: url("/assets/fonts/AtkinsonHyperlegibleNext-RegularItalic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Atkinson-700 */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Hyperlegible";
	font-style: bold;
	font-weight: 700;
	src: url("/assets/fonts/AtkinsonHyperlegibleNext-Bold.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Atkinson-700italic */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Hyperlegible";
	font-style: italic;
	font-weight: 700;
	src: url("/assets/fonts/AtkinsonHyperlegibleNext-BoldItalic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* OpenDyslexic-regular */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "OpenDyslexic";
	font-style: normal;
	font-weight: 400;
	src: url("/assets/fonts/OpenDyslexic-Regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* OpenDyslexic-italic */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "OpenDyslexic";
	font-style: italic;
	font-weight: 400;
	src: url("/assets/fonts/OpenDyslexic-Italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* OpenDyslexic-700 */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "OpenDyslexic";
	font-style: bold;
	font-weight: 700;
	src: url("/assets/fonts/OpenDyslexic-Bold.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* OpenDyslexic-700italic */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "OpenDyslexic";
	font-style: italic;
	font-weight: 700;
	src: url("/assets/fonts/OpenDyslexic-Bold-Italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
