/* BASE */
/* BASE */
/* BASE */

:root {
	--bg-width: calc(523px / 2);
	--bg-height: calc(1078px / 2);
	--img-size: 225px;
	--tb-margin: 10dvh;
	--lr-small-margin: 7dvw;
	--lr-big-margin: calc(var(--bg-width) + calc(var(--lr-small-margin) * 2));
	--line-height: 1.5em;
	--border-size: 1px;
	--layout-gap: calc(var(--line-height) / 2);
	--header-font-size: 2em;
	--button-width: 88px;
	--button-height: 31px;
}

body {
	display: grid;
	gap: var(--layout-gap);
	font-family: Nunito, Arial, Helvetica, sans-serif;
}

.global-menu,
.content,
.link-group,
article,
.era-group {
	padding: var(--layout-gap);
}

/* LARGE SCREENS */
/* LARGE SCREENS */
/* LARGE SCREENS */

@media only screen and (min-width: 1000px) {
	body {
		padding: var(--tb-margin) var(--lr-big-margin) var(--tb-margin) var(--lr-small-margin);
		grid-template-columns: auto 1fr; /* column width */
		grid-template-rows: 1fr; /* row height */
		grid-template-areas: "menu content";
	}

	#mobile-nav {
		display: none;
	}

	.global-menu {
		display: flex;
		flex: 0 0 auto;
		gap: var(--layout-gap);
		flex-flow: column;
	}

	#switch {
		margin-top: auto;
	}

	.content {
		height: calc(100dvh - calc(var(--tb-margin) * 2));
	}

	article figure img {
		width: 100%;
		max-width: calc(var(--img-size) * 2.5);
	}

	.shell-group > figure img {
		height: var(--img-size);
		width: auto;
	}

	.shell-group > li img {
		height: var(--img-size);
		width: auto;
	}

	.bg-image {
		width: var(--bg-width);
		height: var(--bg-height);
		position: absolute;
		bottom: 0px;
		right: 0px;
		z-index: -2;
		margin: 0dvh var(--lr-small-margin) var(--tb-margin) 0dvw;
	}
}

/* SMALL SCREENS */
/* SMALL SCREENS */
/* SMALL SCREENS */

@media only screen and (max-width: 999px) {
	body {
		padding: var(--layout-gap);
		grid-template-columns: 1fr; /* column width */
		grid-template-rows: calc(2em + calc(var(--layout-gap) * 2) + calc(var(--border-size) * 4)) 1fr; /* row height */
		grid-template-areas: "menu" "content";
		font-size: 2em;
	}

	.global-menu {
		display: grid;
		grid-template-columns: auto 1fr; /* column width */
		grid-template-rows: auto 1fr; /* row height */
		grid-template-areas: "toggles nav" ". nav";
		gap: 0px;
		z-index: 1000;
		width: calc(100dvw - calc(var(--layout-gap) * 2));
	}

	#desktop-nav {
		display: none;
	}

	details {
		grid-area: nav;
		margin-left: auto;
		z-index: 1000;
		height: calc(2em + calc(var(--border-size) * 2));
	}

	.global-nav {
		gap: 0px;
		padding: 0px var(--layout-gap) var(--layout-gap) var(--layout-gap);
		max-height: calc(100dvh - calc(var(--layout-gap) * 4) - 2em - calc(var(--border-size) * 4));
		overflow: auto;
		flex-wrap: wrap;
	}

	.global-nav li:not(.skip),
	.global-nav li.skip:has(a:focus) {
		padding-top: var(--layout-gap);
	}

	.skip a {
		position: absolute;
		width: 0px;
		height: 0px;
		overflow: hidden;
	}

	.skip a:focus {
		position: static;
		width: auto;
		height: auto;
	}

	.box-bg {
		position: absolute;
		z-index: -1;
		top: var(--layout-gap);
		left: var(--layout-gap);
		height: calc(100dvh - calc(var(--layout-gap) * 2));
		width: calc(100dvw - calc(var(--layout-gap) * 2));
		border: var(--border-size) dashed;
	}

	#switch {
		grid-area: toggles;
	}

	.content {
		height: calc(100dvh - calc(var(--layout-gap) * 5) - calc(2em + calc(var(--border-size) * 6)));
	}

	.header {
		font-size: calc(var(--header-font-size) * 2);
	}

	article figure img {
		width: 100%;
	}

	.personal-button,
	.link-group img {
		width: calc(var(--button-width) * 2);
		height: calc(var(--button-height) * 2);
	}

	.shell-group > li img {
		height: calc(var(--img-size) * 1.5);
		width: auto;
	}

	.bg-image {
		display: none;
	}
}

/* BOTH SCREENS - GLOBAL */
/* BOTH SCREENS - GLOBAL */
/* BOTH SCREENS - GLOBAL */

a:hover {
	text-decoration-style: double;
}

*:focus {
	outline-width: 2px;
	outline-style: solid;
	border-radius: 0.15em;
}

/* menu & nav components */

.global-menu {
	grid-area: menu;
}

nav {
	display: flex;
	flex: 0 0 auto;
	gap: var(--layout-gap);
}

.global-nav {
	flex-flow: column;
	align-items: end;
}

nav li {
	list-style: none;
}

.current::before {
	content: "✦ ";
}

#switch,
summary {
	/* summary (small-screen only) included here for mirrored styling */
	padding: 0.25em;
	border: var(--border-size) solid;
	border-radius: 0.15em;
}

#switch:hover,
summary:hover {
	/* summary (small-screen only) included here for mirrored styling */
	text-decoration: underline solid 2px;
}

@media (scripting: none) {
	#switch {
		display: none;
	}

	.global-menu {
		width: 10ch;
	}
}

/* main content components */

main {
	grid-area: content;
}

.content {
	overflow: auto;
}

a[rel="external"]:not(:has(img))::after {
	content: " ↗";
}

.img-group,
.shell-group {
	display: flex;
	flex-wrap: wrap;
	gap: var(--layout-gap);
}

.img-group {
	align-items: center;
}

.shell-group {
	align-items: start;
}

figure {
	display: inline-block;
	height: min-content;
}

figcaption {
	font-style: italic;
}

.global-menu,
main {
	border: var(--border-size) dashed;
}

.link-group,
article,
.era-group {
	border-radius: 0.5em;
}

.link-group {
	border: var(--border-size) solid;
}

article,
.era-group {
	border: var(--border-size) solid;
}

/* PAGE SPECIFIC */
/* PAGE SPECIFIC */
/* PAGE SPECIFIC */

/* index */

.header {
	font-size: var(--header-font-size);
	font-weight: bold;
}

/* buttons on index & links */

.link-group {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

ul.img-group {
	padding: 0px;
}

.img-group li {
	list-style: none;
}

.webring ul {
	padding: 0;
	margin: 0;
	display: flex;
	gap: 0.25em;
}

.static-page ~ * {
	margin-top: 1em;
}

/* blog */

article {
	margin-bottom: 2rem;
}

article p,
article figure {
	padding-top: 1em;
}

/* tama collection */

.era-group > h3,
.era-group > h4,
.era-group > h5 {
	margin-bottom: 1em;
}

.era-group ul {
	padding: 0px;
}

.era-group li {
	list-style: none;
}

.divider {
	border-width: 1px;
	border-style: dotted;
	margin: 1em 0;
}

/* FONTS */

/* nunito-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Nunito";
	font-style: normal;
	font-weight: 400;
	src: url("/assets/fonts/nunito-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-italic - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Nunito";
	font-style: italic;
	font-weight: 400;
	src: url("/assets/fonts/nunito-v31-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Nunito";
	font-style: normal;
	font-weight: 700;
	src: url("/assets/fonts/nunito-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-700italic - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Nunito";
	font-style: italic;
	font-weight: 700;
	src: url("/assets/fonts/nunito-v31-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
