/* GLOBAL */

:root {
	--light-blue: #e5f4ff;
	--med-blue: #91bad8;
	--dark-blue: #266f97;
	--green: #007a14;
	--lightgreen: #cbf6db;
	--yellow: #796c06;
	--red: #e0005a;
	--box-bg: #f2faff;
	--open-bg: rgb(242, 250, 255, 0.9);
}

body,
dialog {
	background-color: var(--light-blue);
	color: var(--dark-blue);
}

.bg-image {
	content: url("/assets/images/layout/light.gif");
}

.global-menu,
main,
#global-skip,
.growth-chart {
	background-color: var(--box-bg);
}

.box-bg {
	background-color: var(--open-bg);
}

.global-nav,
main,
.webrings,
.buttons,
.webrings,
article,
.era-group,
.dark,
.chart-row {
	border-color: var(--dark-blue);
}

.light {
	border-color: var(--med-blue);
}

a,
#global-skip {
	color: var(--green);
}

a:hover:not(:has(.webrings)),
.current {
	color: var(--yellow);
}

*:focus {
	outline-color: var(--dark-blue);
}

.switch,
.shell-group button:not(dialog button),
dialog button {
	background-color: transparent;
	color: var(--dark-blue);
	border-color: var(--dark-blue);
}

.incomplete {
	color: var(--red);
}
.complete {
	color: var(--green);
}
