/* GLOBAL */

:root {
	--light-blue: #cce8ff;
	--med-blue: #91bad8;
	--dark-blue: #1d5480;
	--green: #baf2d1;
	--darkgreen: #006611;
	--yellow: #ffe45c;
	--darklissa: #9e009e;
	--box-bg: #236190;
	--open-bg: rgb(35, 97, 144, 0.9);
}

body,
dialog {
	background-color: var(--dark-blue);
	color: var(--light-blue);
}

.bg-image {
	content: url("/assets/images/layout/dark.gif");
}

.global-menu,
main,
#global-skip,
.growth-chart {
	background-color: var(--box-bg);
}

.box-bg {
	background-color: var(--open-bg);
}

.global-nav,
main,
.webrings,
.buttons,
.webrings,
article,
.era-group,
.dark,
.chart-row {
	border-color: var(--light-blue);
}

.light {
	border-color: var(--med-blue);
}

a,
#global-skip {
	color: var(--green);
}

a:hover:not(:has(.webrings)),
.current {
	color: var(--yellow);
}

*:focus {
	outline-color: var(--light-blue);
}

.switch,
.shell-group button:not(dialog button),
dialog button {
	background-color: transparent;
	color: var(--light-blue);
	border-color: var(--light-blue);
}

.incomplete {
	background-color: var(--darklissa);
}
.complete {
	background-color: var(--darkgreen);
}
