/* GLOBAL */

:root {
	--bg-width: calc(523px / 2);
	--bg-height: calc(1078px / 2);
	--small-img: 225px;
	--tb-margin: 10dvh;
	--lr-small-margin: 10dvw;
	--lr-big-margin: calc(var(--bg-width) + calc(var(--lr-small-margin) * 2));
	--line-height: 1.5rem;
	--border-size: 1px;
	--layout-gap: calc(var(--line-height) / 2);
}

body {
	display: grid;
	gap: var(--layout-gap);
	font-family: Nunito, Arial, Helvetica, sans-serif;
}

.global_links,
main,
.buttons,
footer {
	position: relative; /* necessary for positioning child bg div*/
}

.global_links,
.content,
.buttons {
	padding: calc(var(--line-height) / 2);
}

.bg-color {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.global_links {
	grid-area: links;
	display: flex;
	flex: 0 0 auto;
	flex-flow: column;
	align-items: end;
	gap: var(--layout-gap);
}

main {
	grid-area: content;
}

.content {
	overflow: auto;
}

/* simplify button sizing rules */

.buttons,
.buttons a {
	grid-area: buttons;
	display: flex;
	flex: 0 0 auto;
	align-items: center;
	flex-wrap: wrap;
}

.buttons img,
.buttons a img {
	width: 88px;
	height: 31px;
}

/* PAGE SPECIFIC */

article,
.era-group {
	margin-bottom: 2rem;
	border-radius: 0.5em;
	padding: calc(var(--line-height) / 2);
}

p,
article figure,
.static-page ~ h2,
.h2 {
	padding-top: 1em;
}

.static-page ~ h3 {
	padding-top: 0.5em;
}

.static-page ~ h4 {
	padding-top: 0.25em;
}

.static-page ~ h5 {
	padding-top: 0.15em;
}

figure {
	display: inline-block;
	height: min-content;
}

figcaption {
	font-style: italic;
}

article figure img {
	width: 100%;
	max-width: calc(var(--small-img) * 2);
}

.shell-group {
	display: flex;
	align-items: top;
	flex-wrap: wrap;
}

.shell-group > figure img {
	height: var(--small-img);
	width: auto;
}

.collection_imgs,
.adoptables,
.layout_imgs {
	display: inline;
}

.h2-collections {
	display: flex;
	flex-wrap: wrap;
	gap: var(--layout-gap);
}

.h2-collections a {
	width: 45%;
	max-width: var(--small-img);
}

.divider {
	width: 100%;
	height: 1px;
	border-width: 1px;
	border-style: dotted;
}

.sup {
	margin: 1em 0;
}

.sub {
	margin: 0.5em 0;
}

/* SMALL SCREENS */

@media only screen and (max-width: 999px) {
	body {
		font-size: 2em;
		padding: var(--layout-gap);
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto;
		grid-template-areas: "buttons" "content" "links";
	}

	.bg-image,
	footer,
	#theme-menu {
		display: none;
	}

	.buttons img,
	.buttons a img {
		width: calc(88px * 2);
		height: calc(31px * 2);
	}

	.global_links {
		flex-direction: row;
	}
}

/* LARGE SCREENS */

@media only screen and (min-width: 1000px) {
	body {
		padding: var(--tb-margin) var(--lr-big-margin) var(--tb-margin) var(--lr-small-margin);
		grid-template-columns: auto 1fr 0; /* column width */
		grid-template-rows: 1fr auto auto; /* row height */
		grid-template-areas: "links content themes" "links buttons buttons" "footer footer footer";
	}

	.bg-image {
		width: var(--bg-width);
		height: var(--bg-height);
		position: absolute;
		bottom: 0px;
		right: 0px;
		z-index: -2;
		margin: 0dvh var(--lr-small-margin) var(--tb-margin) 0dvw;
	}

	footer {
		padding-right: calc(var(--line-height) / 4);
		grid-area: footer;
		text-align: end;
		font-size: 0.8em;
		align-content: center;
	}

	main {
		margin-right: calc(var(--layout-gap) * -1);
	}

	#theme-menu {
		width: max-content;
		grid-area: themes;
		display: flex;
		flex-flow: column;
		gap: var(--layout-gap);
		padding: 0 0 0 var(--layout-gap);
	}

	#theme-menu li {
		list-style: none;
	}
}
