/* GLOBAL */

:root {
	--dark-purple: #411e58;
	--light-blue: #c8f4f6;
	--med-blue: #79e4ec;
	--dark-blue: #1ebbc7;
	--dark-pink: #de5c90;
	--black: #292929;
	--bg-width: 324px;
	--bg-height: 597px;
	--tb-margin: 10vh;
	--lr-small-margin: 10vw;
	--lr-big-margin: calc(var(--bg-width) + calc(var(--lr-small-margin) * 0.75));
	--line-height: 1.5rem;
	--border-size: 1px;
	--layout-gap: calc(var(--line-height) / 2);
}

body {
	background-color: var(--light-blue);
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr auto auto;
	grid-template-areas: "links content" "links buttons" "footer footer";
	gap: var(--layout-gap);
	margin: var(--tb-margin) var(--lr-big-margin) var(--tb-margin) var(--lr-small-margin);
	font-family: Nunito, Arial, Helvetica, sans-serif;
	color: var(--black);
}

.bg-image {
	width: var(--bg-width);
	height: var(--bg-height);
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: -2;
	margin: 0vh var(--lr-small-margin) var(--tb-margin) 0vw;
}

.global_links,
main,
.buttons,
footer {
	position: relative; /* necessary for positioning child bg div*/
	border: var(--border-size) dashed var(--med-blue);
}

.global_links,
main,
.buttons {
	padding: calc(var(--line-height) / 2);
}

.bg-color {
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	mix-blend-mode: soft-light;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.global_links {
	grid-area: links;
	display: flex;
	flex-flow: column;
	align-items: end;
}

a {
	color: var(--dark-blue);
}

.current {
	color: var(--dark-pink);
}

main {
	grid-area: content;
	overflow: auto;
}

.buttons,
.buttons a {
	grid-area: buttons;
	display: flex;
	align-items: center;
	flex: none;
	flex-wrap: wrap;
}

.buttons img,
.buttons a img {
	width: 88px;
	height: 31px;
}

footer {
	padding-right: calc(var(--line-height) / 4);
	grid-area: footer;
	text-align: end;
	font-size: 0.8em;
	align-content: center;
}

/* PAGE SPECIFIC */

article,
.era-group {
	margin-bottom: 2rem;
	border: var(--border-size) solid var(--med-blue);
	border-radius: 0.5em;
	padding: calc(var(--line-height) / 2);
}

p,
article figure,
.static-page ~ h2 {
	padding-top: 1em;
}

.static-page ~ h3 {
	padding-top: 0.5em;
}

.static-page ~ h4 {
	padding-top: 0.25em;
}

.static-page {
	padding-top: 0.15em;
}

.shell-group {
	display: flex;
	align-items: top;
}

.shell-group > figure {
	width: 20%;
}

article figure {
	width: 50%;
}

figure {
	display: inline-block;
	height: min-content;
}

figcaption {
	font-style: italic;
}

.collection_imgs {
	width: 33%;
}

.layout_imgs {
	width: 20%;
}

.collection_imgs,
.layout_imgs,
.adoptables {
	display: inline;
}

.divider {
	width: 100%;
	height: 1px;
	border-width: 1px;
	border-style: dotted;
}

.sup {
	margin: 1em 0;
}

.sub {
	margin: 0.5em 0;
}

.dark {
	border-color: var(--med-blue);
}

.light {
	border-color: var(--light-blue);
}
