/* GLOBAL */

:root {
	--bg-width: calc(523px / 2);
	--bg-height: calc(1078px / 2);
	--small-img: 225px;
	--tb-margin: 10dvh;
	--lr-small-margin: 7dvw;
	--lr-big-margin: calc(var(--bg-width) + calc(var(--lr-small-margin) * 2));
	--line-height: 1.5rem;
	--border-size: 1px;
	--layout-gap: calc(var(--line-height) / 2);
	--box-padding: calc(var(--line-height) / 2);
	--header-font-size: 2em;
	--button-width: 88px;
	--button-height: 31px;
}

body {
	display: grid;
	gap: var(--layout-gap);
	font-family: Nunito, Arial, Helvetica, sans-serif;
}

.global-nav,
main {
	position: relative; /* necessary for positioning child bg div*/
}

.global-nav,
.content,
.webrings,
.buttons,
article,
.era-group {
	padding: var(--box-padding);
}

.box-bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.global-nav {
	grid-area: nav;
	display: flex;
	flex: 0 0 auto;
	gap: var(--layout-gap);
}

main {
	grid-area: content;
}

.content {
	overflow: auto;
}

/* PAGE SPECIFIC */

.header {
	font-size: var(--header-font-size);
	font-weight: bold;
}

section {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

section ul {
	padding: 0;
	margin: 0;
	display: flex;
	gap: 0.25em;
}

section ul li {
	list-style: none;
}

.static-page ~ * {
	margin-top: 1em;
}

article,
.era-group {
	border-radius: 0.5em;
}

article {
	margin-bottom: 2rem;
}

article p,
article figure {
	padding-top: 1em;
}

figure {
	display: inline-block;
	height: min-content;
}

figcaption {
	font-style: italic;
}

.era-group > h3,
.era-group > h4,
.era-group > h5 {
	margin-bottom: 1em;
}

.shell-group {
	display: flex;
	align-items: top;
	flex-wrap: wrap;
	gap: var(--layout-gap);
}

.img-group {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--layout-gap);
}

.divider {
	border-width: 1px;
	border-style: dotted;
	margin: 1em 0;
}

/* SMALL SCREENS */

@media only screen and (max-width: 999px) {
	body {
		padding: var(--layout-gap);
		grid-template-columns: 1fr; /* column width */
		grid-template-rows: 1fr auto; /* row height */
		grid-template-areas: "content" "nav";
		font-size: 2em;
	}

	.header {
		font-size: calc(var(--header-font-size) * 2);
	}

	.bg-image {
		display: none;
	}

	.content {
		height: calc(100dvh - calc(calc(var(--line-height) * 2)) - calc(var(--layout-gap) * 3) - var(--line-height));
	}

	.global-nav {
		flex-direction: row;
	}

	.webrings img,
	.buttons img {
		width: calc(var(--button-width) * 2);
		height: calc(var(--button-height) * 2);
	}

	.img-group.large a {
		min-width: var(--small-img);
		width: 45%;
	}

	article figure img {
		width: 100%;
	}

	.shell-group > figure img {
		height: calc(var(--small-img) * 1.5);
		width: auto;
	}
}

/* LARGE SCREENS */

@media only screen and (min-width: 1000px) {
	body {
		padding: var(--tb-margin) var(--lr-big-margin) var(--tb-margin) var(--lr-small-margin);
		grid-template-columns: auto 1fr; /* column width */
		grid-template-rows: 1fr; /* row height */
		grid-template-areas: "nav content";
	}

	.bg-image {
		width: var(--bg-width);
		height: var(--bg-height);
		position: absolute;
		bottom: 0px;
		right: 0px;
		z-index: -2;
		margin: 0dvh var(--lr-small-margin) var(--tb-margin) 0dvw;
	}

	.content {
		height: calc(100dvh - calc(var(--tb-margin) * 2));
	}

	.global-nav {
		flex-flow: column;
		align-items: end;
	}

	.img-group.large a {
		width: 45%;
		max-width: calc(var(--small-img) * 1.25);
	}

	article figure img {
		width: 100%;
		max-width: calc(var(--small-img) * 3);
	}

	.shell-group > figure img {
		height: var(--small-img);
		width: auto;
	}
}
