---
title: Cedrus's Site
parent: home
---

<p class="static-page header">Welcome!</p>

<p>Accessibility matters. If something is broken, please <a href="/contact.html">let me know</a>!</p>

<section class="link-group">
	<h2>Buttons</h2>
	<p>Buttons link back to original creater or relevant site when possible.</p>
	<div class="img-group">
		{% for button in site.data.buttons %} {% assign img_comps = button.image | split: "." %} {% assign img_src = button.image | prepend: "/assets/images/buttons/" %} {% if button.url %}
		<a rel="external" href="{{ button.url }}">
			<img src="{{ img_src }}" alt="{{ img_comps[0] }}" />
		</a>
		{% else %}
		<img src="{{ img_src }}" alt="{{ img_comps[0] }}" />
		{% endif %} {% endfor %}
	</div>
</section>
