---
title: Cedrus's Site
parent: home
---

<p class="static-page header">Welcome!</p>

<p>Accessibility matters. If something is broken, please <a href="/contact.html">let me know</a>!</p>

<section class="link-group">
	<h2>Buttons</h2>
	<p>Buttons link back to original creater or relevant site when possible.</p>
	<div class="img-group">
		{% for button in site.data.buttons %} {% if button.url %}
		<a rel="external" href="{{ button.url }}">
			<img src="{{ button.image | prepend: '/assets/images/buttons/' | append: button.ext }}" {% if button.ext == '.gif' %} class="freeze" {% endif %} alt="{{ button.name }}" />
		</a>
		{% else %} <img src="{{ button.image | prepend: '/assets/images/buttons/' | append: button.ext }}" {% if button.ext == '.gif' %} class="freeze" {% endif %} alt="{{ button.name }}" /> {% endif
		%} {% endfor %}
	</div>
</section>
