---
title: Cedrus's Site
parent: home
to_top: false
---

<p class="static-page header">Welcome!</p>

<p>Accessibility matters. If something is broken, please <a href="/contact.html">let me know</a>!</p>

<section class="link-group">
	<h2>Buttons</h2>
	<p>Buttons link back to original creater or relevant site when possible.</p>
	<ul class="img-group">
		{% for item in site.data.buttons.items %}
		<li>
			{% if item.url %}
			<a rel="external" href="{{ item.url }}">
				<img loading="lazy" src="{{ site.data.buttons.root | append: item.img | append: item.ext }}" {% if item.ext == '.gif' %} class="freeze" {% endif %} alt="{{ item.alt }}" />
			</a>
			{% else %} <img loading="lazy" src="{{ site.data.buttons.root | append: item.img | append: item.ext }}" {% if item.ext == '.gif' %} class="freeze" {% endif %} alt="{{ item.alt }}" /> {%
			endif %}
		</li>
		{% endfor %}
	</ul>
</section>
